<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /task-manager/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^backend/(.*)$ backend/index.php/$1 [L]
</IfModule>